<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="wrapper">
        <div class="sideBar active" id="sideBar">
            <nav>
                <ul>
                    <li>
                        <p class="title">Library Management</p>
                    </li>
                    <li>
                        <a href="/" class="btn btn-primary">Home</a>
                    </li>
                    <li>
                        <a href="/addBook" class="btn btn-primary">Add Book</a>
                    </li>
                    <li>
                        <button id="print" class="btn w-75 py-2 btn-primary">
                            <i class="fas fa-print"></i>
                            Print/Download PDF
                        </button>
                    </li>
                    <li>
                        <a id="print" class="btn btn-block py-2 mx-2 btn-primary" href="BookDetails.xlsx" download>
                            <i class="fas fa-downlaod"></i>
                            Download Excel
                        </a>
                    </li>
                    <li>
                        <a id="print" class="btn btn-block py-2 mx-2 btn-primary" href="BookDetails.json" download>
                            <i class="fas fa-downlaod"></i>
                            Download JSON
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <nav class="navbar navbar-expand-sm">
                <ul class="nav">
                    <li class="title nav-item text-white">
                        Library Management
                    </li>
                </ul>
                <ul class="nav ml-auto">
                    <li class="nav-item">
                        <button class="btn btn-dark" id="collapse">
                            <i class="fas fa-bars"></i>
                        </button>
                    </li>
                </ul>
            </nav>
            <div class="px-3 d-flex justify-content-center w-100 my-5">
                <form class="addForm" autocomplete="off" spellcheck="false" action="/addbook" method="POST">
                    <div class="error"><%= error %></div>
                    <div class="form-floating">
                        <input type="text" class="form-control" name="bookId" id="bookId" placeholder="BK10"/>
                        <label for="bookId">Enter Book ID</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" name="name" id="name" placeholder="JAVA"/>
                        <label for="name">Enter Book Name</label>
                    </div>
                    <div class="form-floating">
                        <input type="number" class="form-control" name="cost" id="cost" min="0" placeholder="1000"/>
                        <label for="cost">Enter Cost</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" name="author" id="author" placeholder="Author"/>
                        <label for="author">Enter Author Name</label>
                    </div>
                    <div class="form-floating">
                        <input type="number" class="form-control" name="stock" id="stock" min="0" placeholder="10"/>
                        <label for="stock">Enter Stock</label>
                    </div>
                    <button class="btn btn-success" type="submit">Add Book Details</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        let inputs=document.getElementsByClassName("form-control");
        for(let i=0;i<inputs.length;i++){
            inputs[i].oninput=()=>{
                let value=inputs[i].value;
                value=value.trim("");
                if(value===""){
                    inputs[i].classList.add("is-invalid");
                }
                else{
                    inputs[i].classList.remove('is-invalid');
                    inputs[i].classList.add("is-valid");
                }
            }
            inputs[i].onclick=()=>{
                let value=inputs[i].value;
                value=value.trim("");
                if(value===""){
                    inputs[i].classList.add("is-invalid");
                }
                else{
                    inputs[i].classList.remove('is-invalid');
                    inputs[i].classList.add("is-valid");
                }
            }
            inputs[i].onfocus=()=>{
                let value=inputs[i].value;
                value=value.trim("");
                if(value===""){
                    inputs[i].classList.add("is-invalid");
                }
                else{
                    inputs[i].classList.remove('is-invalid');
                    inputs[i].classList.add("is-valid");
                }
            }
        }
    </script>
    <script>
        let collapseBtn=document.getElementById("collapse");
        let sideBar=document.getElementById("sideBar");
        collapseBtn.onclick=()=>{
            sideBar.classList.toggle("active");
        }
    </script>
    <script src="https://kit.fontawesome.com/23ee58b93c.js" crossorigin="anonymous"></script>
</body>
</html>